* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(202, 198, 198);
}

form h1 {
    margin-bottom: 12px;
    padding: 5 px;
}
form input, button {
    display: block;
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.container {
    margin: 90px auto;
    max-width: 400px;
    width: 100%;
}

