body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #83a6e7;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 35px;
    color: #333;
}

#formtarefa {
    display: flex;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: #04770e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

#tabela td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.teste {
    text-decoration: line-through;
    color: #888;
}

/*Para o jquery*/   
tr {
    margin: 5px 0;
    cursor: pointer;
}

.marcartarefa {
    text-decoration: line-through;
}